<li>
	<p>
		<h4><%= comment.content %></h4>
	
		<small><h5> <%= comment.user.name %><% if (locals.user && locals.user.id == comment.user.id){ %>
		<small>
			<a href="/comments/destroy/<%= comment.id %>">Delete</a>
		</small></h5>
		<% } %> </small>
		
	</p>
</li>
