<div class="jumbotron create-post-text">
	<div class="container"><h1>Create Post</h1></div>
</div>
<div class="container">
	<form action="/posts/create" id="new-post-form" method="POST">
		<div class="form-group">
			<label class="post-label">Project Name :</label><br />
			<textarea
				name="name"
				cols="30"
				rows="1"
				placeholder="Project Name"
				required
			></textarea>
		</div>
		<div class="form-group">
			<label class="post-label">Languages Used :</label><br />

			<textarea
				name="software"
				cols="30"
				rows="1"
				placeholder="Languages Used"
				required
			></textarea>
		</div>

		<div class="form-group">
			<label class="post-label">Link to the Live project :</label><br />
			<textarea
				name="link"
				cols="30"
				rows="1"
				placeholder="Link to the Live project"
				required
			></textarea>
		</div>
		<div class="form-group">
			<label class="post-label">Cloud storage Link to ur project files :</label
			><br />
			<textarea
				name="driveLink"
				cols="30"
				rows="1"
				placeholder="Link to the Live project"
				required
			></textarea>
		</div>

		<div class="form-group">
			<label class="post-label">Team Members :</label><br />
			<textarea
				name="teamMembers"
				cols="30"
				rows="1"
				placeholder="Team Members"
				required
			></textarea>
		</div>

		<div class="form-group">
			<label class="post-label">Description :</label><br />
			<textarea
				name="content"
				cols="30"
				rows="5"
				placeholder="Describe your project"
				required
			></textarea>
		</div>

		<input type="submit" value="Post" />
	</form>
</div>
